*
{
    margin: 0;
    padding: 0;
}
body
{
    background-color: #262d3f;
}
/* -------------------------- Debut de la navbar -------------------------- */
a:visited
{
    text-decoration: none;
    color: white;
}
a:link
{
    text-decoration: none;
    color: white;
}

.navbar
{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 125px;
    width: auto;
    background-color: rgba(0, 0, 0, 0.815);
    color: rgb(255, 255, 255);
    z-index: 5;
}

.logo
{
    flex-grow: 1;
    font-family: 'ul';
    font-size: 30px;
    line-height: 50px;
    letter-spacing: 3px;
    color: rgba(255, 255, 255, 0.925);
    margin-top: 12px;
    margin-left: 50px;
}

#T
{
    animation-name: T;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 0.9s;
}
@keyframes T {                         
    0% {
        margin-left: -100px;
    }
    100% {
        margin-left: 0px;
    }
  }
#O
{
    margin-top: -50px; 
    padding-left: 17px;
    animation-name: O;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 0.7s;
}
@keyframes O {                         
    0% {
        margin-left: -90px;
    }
    100% {
        margin-left: 0px;
    }
  }
#M
{
    margin-top: -50px;
    padding-left: 42px;
    animation-name: M;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 0.6s;
}
@keyframes M {                         
    0% {
        margin-top: -100px;
    }
    100% {
        margin-top: -50px;
    }
  }
#Y
{
    margin-top: -50px; 
    padding-left: 72px;
    animation-name: Y;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 0.6s;
}
@keyframes Y {                         
    0% {
        margin-top: -100px;
    }
    100% {
        margin-top: -50px;
    }
  }

#pho
{
    margin-top: -100px;
    padding-left: 15px;
}

.home
{
    font-family: 'ul';
    margin-top: auto;
    margin-bottom: auto;
    padding-right: 50px;
    font-size: 13px;
    letter-spacing: 2px;
    transition-duration: 0.4s;
}
.home:hover
{
    color:#ae9f6a;
    font-size: 14px
}

.photo
{
    font-family: 'ul';
    padding-top: 54px;
    padding-right: 25px;
    font-size: 13px;
    letter-spacing: 2px;
    transition-duration: 0.4s;

}

.contact
{
    font-family: 'ul';
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 50px;
    font-size: 13px;
    letter-spacing: 2px;
    transition-duration: 0.4s;

}
.contact:hover
{
    color:#ae9f6a;
    font-size: 14px
}

.liste
{
    position: absolute;
    /* display: none; je préférais utiliser cette façon mais la transition du block qui apparait en fondu ne fonctionne plus */
    height: 145px;
    width: 150px;
    background-color: rgba(0, 0, 0, 0.863);
    margin-top: 70px;
    opacity: 0.0;
    transition: all 500ms ease-in-out;
    z-index: 9;
}

.photo:hover .liste
{
    /* display: block; je préférais utiliser cette façon mais la transition du block qui apparait en fondu ne fonctionne plus */
    opacity: 1.0;
    transition-delay: 250ms;
}

.photo:hover
{
    color:#ae9f6a;
    font-size: 14px
}

.liste li
{
    list-style:none;
    font-size: 11px;
    padding-top: 18px;
    padding-left: 15px;
    transition-duration: 0.4s;
    color: white;
}

.liste li:hover
{
    color: #ae9f6a;
    padding-left: 25px;
}
/* -------------------------- Fin de la navbar -------------------------- */

.container
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.mini1
{
    width: 150px;
    height: 250px;
    background-color: lightslategray;
}

.mini2
{
    width: 150px;
    height: 250px;
    background-color: lightslategray;
}

.mini3
{

    width: 150px;
    height: 250px;
    background-color: lightslategray;
}