*
{
    margin: 0;
    padding: 0;
}

body
{
    background-color: #161616;
    animation-name: chargement;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 1.8s;
}



@keyframes chargement {                         
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
  }
/* -------------------------- Debut de la navbar -------------------------- */
a:visited
{
    text-decoration: none;
    color: white;
}
a:link
{
    text-decoration: none;
    color: white;
}

.navbar
{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 125px;
    width: auto;
    background-color: rgba(0, 0, 0, 0.815);
    color: rgb(255, 255, 255);
    z-index: 5;
}

.logo
{
    flex-grow: 1;
    font-family: 'ul';
    font-size: 30px;
    line-height: 50px;
    letter-spacing: 3px;
    color: rgba(255, 255, 255, 0.925);
    margin-top: 12px;
    margin-left: 50px;
}

#T
{
    animation-name: T;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 0.9s;
}
@keyframes T {                         
    0% {
        margin-left: -100px;
    }
    100% {
        margin-left: 0px;
    }
  }
#O
{
    margin-top: -50px; 
    padding-left: 17px;
    animation-name: O;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 0.7s;
}
@keyframes O {                         
    0% {
        margin-left: -90px;
    }
    100% {
        margin-left: 0px;
    }
  }
#M
{
    margin-top: -50px;
    padding-left: 42px;
    animation-name: M;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 0.6s;
}
@keyframes M {                         
    0% {
        margin-top: -100px;
    }
    100% {
        margin-top: -50px;
    }
  }
#Y
{
    margin-top: -50px; 
    padding-left: 72px;
    animation-name: Y;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 0.6s;
}
@keyframes Y {                         
    0% {
        margin-top: -100px;
    }
    100% {
        margin-top: -50px;
    }
  }

#pho
{
    margin-top: -100px;
    padding-left: 15px;
}

.home
{
    font-family: 'ul';
    margin-top: auto;
    margin-bottom: auto;
    padding-right: 50px;
    font-size: 13px;
    letter-spacing: 2px;
    transition-duration: 0.4s;
}
.home:hover
{
    color:#ae9f6a;
    font-size: 14px
}

.photo
{
    font-family: 'ul';
    padding-top: 54px;
    padding-right: 25px;
    font-size: 13px;
    letter-spacing: 2px;
    transition-duration: 0.4s;

}

.contact
{
    font-family: 'ul';
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 50px;
    font-size: 13px;
    letter-spacing: 2px;
    transition-duration: 0.4s;

}
.contact:hover
{
    color:#ae9f6a;
    font-size: 14px
}

.liste
{
    position: absolute;
    /* display: none; je préférais utiliser cette façon mais la transition du block qui apparait en fondu ne fonctionne plus */
    height: 230px;
    width: 150px;
    background-color: rgba(0, 0, 0, 0.863);
    margin-top: 54px;
    opacity: 0.0;
    transition: all 500ms ease-in-out;
    z-index: 9;
}

.photo:hover .liste
{
    /* display: block; je préférais utiliser cette façon mais la transition du block qui apparait en fondu ne fonctionne plus */
    opacity: 1.0;
    transition-delay: 250ms;
}

.photo:hover
{
    color:#ae9f6a;
    font-size: 14px
}

.liste li
{
    list-style:none;
    font-size: 11px;
    padding-top: 18px;
    padding-left: 15px;
    transition-duration: 0.4s;
    color: white;
}

.liste li:hover
{
    color: #ae9f6a;
    padding-left: 25px;
}
/* -------------------------- Fin de la navbar -------------------------- */

.acceuil
{
    text-align: center;
    margin-top: 25vh;   /* à tester*/
    transform: translateY(-50%); /* à tester*/
}
h2
{
    color: rgba(255, 255, 255, 0.918);
    font-size: 28px;
    font-family: 'ul';
    font-weight: lighter;
}
h1
{
    color: rgba(255, 255, 255, 0.932);
    font-size: 55px;
    font-family: 'ul';
    font-weight: lighter;
}

/* -------------------------- Paysages-------------------------- */
.flex_paysages
{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    background-color: #161616;
    z-index: 1;
    margin-top: 30px;
}
.boitetexte
{
    order: 1;
    width: 340px;
    padding-top: 20px;
    color: white;
    font-family: 'ul';
    text-align: center;
    background-color: #161616;
    border: solid #ae9f6a 1px ;
    letter-spacing: 2px;
    cursor: default;
    animation-name: ascenseur;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 0.8s;
}
@keyframes ascenseur {                         /*EFFET COOL QUE JE VAIS UTILISER POUR D'AUTRE PROJET OUBLIE PAS TOMY */
    0% {
        margin-top: 400px;
        opacity: 0;
    }
    100% {
        margin-top: 0px;
        opacity: 1;
    }
  }
  
#texte
{
    position: fixed;
    top: 285px;
    width: 320px;
    padding-left: 10px;
    font-size: 13px;
    animation-name: ascenseur;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 0.8s;
}
#titre
{
    position: fixed;
    color: #ae9f6a;
    width: 340px;
    font-size: 40px;
    animation-name: ascenseur;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 0.8s;
}

.box_photo_cadre
{
    order: 2;
    min-width: 145vh;
    min-height: 84vh;
    background-color: #161616;
}

#photo img
{
    display: block;
    margin: auto;
    width: 140vh;
    margin-bottom: 50px;
    animation-name: zoom;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 2.5s;
    z-index: 1;
}

@keyframes zoom {                         
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
  }

#insta
{
    position: fixed;
    width: 30px;
    left: 171px;
    padding-top: 320px;
}


#boite_papillon
{
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding-top: 15px;
    width: 200vh;
    height: 630px;
    background-color: #030303;
    color: rgb(255, 255, 255);
    cursor: default;
}


#boite_papillon img
{
    position: absolute;
    order: 1;
    width: 800px;
}

#info_bulle_G
{
    position: absolute;
    width: 230px;
    padding-right: 1170px;
    padding-top: 25px;
    animation-name: bulle;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 0.6s;
}
@keyframes bulle {                         
    0% {
        padding-right: 1800px;
    }
    100% {
        padding-right: 1170px;
    }
  }
#info_bulle_G h2
{
    font-size: 38px;
    margin-left: -60px;

}
#info_bulle_G h3
{
    padding-top: 20px;
    color: #ae9f6a;
    font-family: 'ul';
    font-weight: lighter;
    font-size: 22px;
    margin-left: 30px;
    margin-right: -67px;
}
#info_bulle_G p
{
    font-size: 13px;
    padding-top: 40px;
    letter-spacing: 2px;
    line-height: 20px;
    text-align: center;
}

#info_bulle_D
{
    position: absolute;
    width: 230px;
    padding-top: 70px;
    padding-left: 1200px;
    font-size: 15px;
    animation-name: hop;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 0.6s;
}
@keyframes hop {                         
    0% {
        top: 560px
    }
    100% {
        top: 160px
    }
  }


#info_bulle_D h2
{
    font-size: 38px;
    margin-left: -60px;
}
#info_bulle_D h3
{
    margin-top: -45px;
    color: #ae9f6a;
    font-family: 'ul';
    font-weight: lighter;
    margin-left: -30px;
    margin-right: -70px;
    margin-bottom: 25px;
    font-size: 22px;
}
#info_bulle_D p
{
    font-size: 13px;
    margin-top: -20px;
    letter-spacing: 2px;
    line-height: 20px;
    text-align: center;
}

#info_bulle_D li
{
    margin-left: -60px;
    font-size: 13px;
    padding-top: 15px;
    letter-spacing: 2px;
    line-height: 20px;
    list-style:none;

}